
<link rel="stylesheet" href="resources/css/w3.css">
<div id="myDiv" >
<div class="container" ng-controller="FriendController as ctrl">

     <p>
     <p>
     <p>
     <p>
     
     <p>
     <p>
     <p>
     <p>
     
     <div class="form-group has-feedback"></div>
     
     Search 

     <input type="text" ng-model="sear_text">
     <!-- ng-hide="user.id==currentUser.id" && ng-hide="user.role=='admin'" -->
     
         <div ng-repeat="user in ctrl.users | filter: sear_text" >
         
             <fieldset>
                  <legend></legend>
                  
                  <p> Online ?: {{user.isOnline}} </p>
                   
                   <p>ID: {{user.id}} &nbsp; &nbsp; &nbsp; Name: {{user.name}}
                      &nbsp; &nbsp; &nbsp;  <button type="button" ng-click="ctrl.sendFriendRequest(user.id)" 
                                                        
                        class="w3-btn w3-small w3-round-large w3-brown">Send Friend Request</button>
                    </p>
                    
                   <p>Email: {{user.email}} &nbsp; &nbsp; &nbsp; Mobile:{{user.mob_no}}</p>
                   
                   <p>Address:{{user.address}} &nbsp; &nbsp; &nbsp; Role:{{user.role}}</p>
                </fieldset>
             </div>
          </div>
          </div>
                     